.buttonA {
    /* styles for the button */
    display: inline-block;
    padding: 0.5em 1em;
    background: #25a017;
    /* red color */
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.buttonA:hover {
    /* styles for when the mouse hovers over the button */
    background: #0e7d33;
    /* darker red color */
}

.buttonA:active {
    /* styles for when the button is clicked */
    transform: translateY(2px);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.buttonD {
    /* styles for the button */
    display: inline-block;
    padding: 0.5em 1em;
    background: #ce3318;
    /* red color */
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.buttonD:hover {
    /* styles for when the mouse hovers over the button */
    background: #a03517;
    /* darker red color */
}

.buttonD:active {
    /* styles for when the button is clicked */
    transform: translateY(2px);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

nav ul {
    display: flex;
    background-color: gray;
}

nav li {
    list-style: none;
}

nav a {
    display: block;
    padding: 1em;
    color: white;
    text-decoration: none;
}

nav a:hover {
    background-color: lightgray;
}